name: Run tests on staging
on:
  pull_request_target:
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - run: echo "$token"
        env:
          token: ${{ steps.app-token.outputs.token }}
